body {
  background: #fff;
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: $gray-base;
  overflow-y:scroll;
}
a,
a:hover {
  text-decoration: none;
  color: #333;
  @include ease-out-transition(.15s);
}
h1 {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: .5px;
}
h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .5px;
}
h3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: .25px;
}
h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .25px;
}
p {
  color: $gray-l-1;
  font-size: 18px;
  line-height: 1.5em;
}
ul {
  list-style-type: none;
  padding: 0;
}
.call-img {
    padding:0 20px;
    width:50%;
}

.call-img2 {
    margin-top: 60px;
}

.no-padding {
    padding: 0;
    margin: 0!important;
}
.block {
  padding: 75px 0;
  a {
    color: #3197D6;
    font-weight: 600;
    font-size: 13px;
    &:hover {
      opacity: .8;
      text-decoration: underline;
    }
  }
  p {
    margin-top: 25px;
    float: none;
    margin-right: -4px;
    &:first-of-typr {
      margin-top: 50px;
    }
  }
}

.divider {
    border-bottom: 1px solid #eee;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

/* global page scss */
.navbar {
  padding: 30px 0;
  margin-bottom: 0;
  .text-nav {
    color: #fff;
    font-size: 24px;
  }
  .brand {
    img {
      width: 240px;
      padding-top: 11px;
    }
  }
  li {
    a {
      font-size: 16px;
      font-weight: 500;
      padding-right: 20px;
      color: rgba(255,255,255,.8);
      @include ease-out-transition(.15s);
      &:hover,
      &:focus  {
        background-color: transparent;
        opacity: .8;
        color: $c-p;
        @include ease-out-transition(.15s);
        text-decoration: none;
        outline: medium none;
      }
    }
  }
}

// homepage header

// microbiome page header

.product {
  padding: 70px 0;
  .product-header {
    h2 {
      font-size: 36px;
      font-weight: 300;
      color: $gray-base;
      border-bottom: 2px solid $c-p;
      height: 52px;
      border-bottom-left-radius: 10px;
      span {
        color: #fff !important;
        font-size: 24px;
        text-align: center;
        padding-top: 10px;
        width: 44px;
        height: 44px;
        background-color: $c-p;
        @include border-radius(10px);
        border-bottom-right-radius: 0;
      }
      i {
        display: inline-block;
        font-size: 28px;
        color: $gray-l-1;
        @media (max-width: 767px) {
          display: inline;
          font-size: 18px;
        }
      }
    }
    p {
      padding-left: 54px;
      font-size: 16px;
      font-weight: 300;
      color: $gray-l-1;
    }
  }
}

.card {
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
  @include border-radius(4px);
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
  .avatar {
    height: 120px;
    width: 120px;
    margin: 0 auto 20px;
  }
  &:hover {
        box-shadow: 0 0 0 rgba(0,0,0,0.10),0 0 10px rgba(0,0,0,0.10);
  }
  p {
    color: $c-p;
  }
}

/* pathogen page styles */

.media-body {
  h3 {
    font-size: 18px;
    font-weight: 400;
    color: $gray-base;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: $gray-l-2;
  }
}
/* index feature section */
.intro {
  border-bottom:1px solid #e2edf6;
  overflow: hidden;
  padding:75px 0;
  .intro-content {
    @media (max-width: 991px) {
      text-align: center;
    }
    .intro-title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 35px;
    }
    h6 {
      color: $gray-l-1;
    }
    p {
      color: $gray-l-2;
      font-size: 16px;
      line-height: 32px;
      font-weight: 300;
      padding: 0;
    }
    .intro-link {
      background: rgba(42, 134, 225, .1);
      border-radius:100px;
      display: inline-block;
      font-size:14px;
      line-height:20px;
      font-weight:500;
      margin:30px 0 40px -2px;
      padding:10px 16px 10px 48px;
      position: relative;
      @include bg-ease-out(200,0)
    }
  }
  .intro-image {
    padding:0 20px;
    width:50%;
    @media (min-width:768px) and (max-width: 991px) {
      padding:0;
      margin: 20px auto !important;
    }
    @media (max-width: 767px) {
      padding:0;
      margin: 0 auto;
    }
    .intro-img-1 {
      display: block;
      width:200%;
    }
    img {
      max-width: 400px;
      @media(max-width: 767px) {
        width: 100%;
      }
    }
  }
}
.no-b-b {
    border-bottom:none;
  }
.row-reverse {
  .intro-content {
    float: right;
    @media (max-width: 991px) {
      float: none;
    }
  }
  .intro-image {
    float: left;
    @media (max-width: 991px) {
      float: none;
    }
  }
}

.feature {
  position: relative;
  .media-box {
    width: 80%;
    background-color: #eee;
    border: 1px solid #eee;
    text-align: center;
    @include border-radius(4px);
    padding: 60px;
    margin: 10px auto;
    cursor: pointer;
    .icon {
      width: 100%;
      margin: 0 auto;
    }
    h3 {
      color: $gray-base;
      font-weight: 600px;
      font-size: 18px;
      margin-top: 24px;
    }
    p {
      color: $gray-l-1;
      font-weight: 300;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}


.knowmore {
  color: #fff !important;
  padding: 12px 30px;
  border: 1px solid $c-t;
  @include border-radius(4px);
  background: $c-t;
  display: inline-block;
  margin-right: 8px;
  font-size: 1.5em;
  @include box-shadow(0, 5px, 15px, 0, 0, rbga(0,0,0,.2));
  font-size: 15px;
  @include ease-out-transition(.15s);
  &:hover {
    opacity: .8;
    color: #fff;
    @include ease-out-transition(.15s);
  }
}
.outline {
  @include border-radius(4px);
  padding: 12px 30px;
  border: 2px solid $c-s;
  background: transparent;
  font-size: 15px;
  @include ease-out-transition(.15s);
  &:hover {
    opacity: .8;
    color: $c-t;
    @inlcude ease-out-transition(.15s);
  }
}

.subfooter {
  color: #fff;
  background-color: $gray-l-1;
  padding: 50px 0;
  // background-size: contain;
  // background-position: center 120px;
  // background-image: url('../images/footer.png');
  // background-repeat: no-repeat;
  .footer-link {
    text-align: center;
    h4 {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    ul{
      margin-bottom: 20px;
      li {
        margin-bottom: 10px;
        a {
          color: #e9e9e9;
          font-size: 14px;
        }
      }
    }
  }
  .footer-content {
    padding: 12px 0;
    @media (max-width: 991px) {
      text-align: center;
    }
    .footer-content-image {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      img {
        width: 200px;
      }
    }
    p {
      color: #f9f9f9;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      i {
        color: $c-p;
        margin-right: 14px;
      }
    }
  }
}
.footer {
  background: $gray-base;
  p {
    padding: 0;
    margin: 20px 0;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.75);
  }
  .right {
    text-align: right;
  }
}

/* pathogen page styles */

.patho-nav-tabs {
  padding-top: 100px;
  &>li {
    margin-bottom: 0;
    width: 50%;
    &.active {
      a {
        color: $gray-base;
        .dk {
          visibility: hidden;
        }
        .lg {
          visibility: visible;
        }
      }
    }
    &>a {
      padding: 10px 25px 10px 0;
      text-align: center;
      border: none;
      background: none !important;
      color: $gray-l-1 !important;
      border: none !important;
      position: relative;
      .icon {
        position: absolute;
        bottom: 100%;
        left: 40%;
      }
      .dk {
        visibility: visible;
      }
      .lg {
        visibility: hidden;
      }
      &:focus,
      &:hover {
        color: $c-p !important;
        background: none;
        border: none !important;
      }
    }
  }
}
.nav-tabs {
  border-bottom: none;
}
.product-content {
  .head {
    border-bottom: 2px dashed $c-s;
    span {
      display: inline-block;
      margin-bottom: 20px;
    }
    h3 {
      color: $c-s;
      font-size: 24px;
      padding: 0 12px;
      display: inline-block;
    }
    p {
      display: inline;
    }
  }
  p {
    font-size: 16px;
    color: $gray-l-1;
    &:first-letter {
      padding-left: 32px;
    }
  }
}
.product-steps {
  .head {
    border-bottom: 2px dashed $c-p;
  }
  .icon {
    margin-bottom: -12px;
  }
  h3 {
    color: $c-p;
    font-size: 24px;
    padding: 0 12px;
    display: inline-block;
    margin-bottom: 16px;
  }
  ul {
    li {
      padding: 12px 0;
      span {
        color: $c-p;
        font-size: 18px;
        font-weight: 300;
        padding-right:18px;
      }
    }
  }
  .sub-steps {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}
.step {
  .circle {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    padding: 20px;
    background: $c-t;
    @include border-radius(50%);
  }
  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: $gray-l-2;
  }
}
.bgi-step {
  background: #f9f9f9 url('../images/bgi-step.png') no-repeat scroll center 30px;
  padding: 90px 0;
  background-size: 60%;
  @media (max-width: 991px) {
      background-image: none;
  }
  &.product-step {
    background: #fff url('../images/bgi-step.png') no-repeat scroll center 30px;
    padding: 90px 0;
    background-size: 60%;
    @media (max-width: 991px) {
        background-image: none;
    }
    .step {
      .circle {
        background: $c-p;
      }
      h3 {
        color: $gray-base;
      }
    }
  }
}

/* partner page styles */

.row-double {
  position: relative;
  margin: 30px 0;
  &.right {
    .image {
      right: 0;
      .bg-image {
        left: 0;
      }
      @media only screen and (max-width: 991px) {
        position: relative;
        height: 60vh;
        max-height: 400px;
      }
    }
    .content {
      left: 0;
      @media only screen and (max-width: 991px) {
        position: relative;
        left: 0;
        padding: 6%;
      }
    }
  }
  &.left {
    .image {
      left: 0;
      .bg-image {
        left: 0;
      }
      @media only screen and (max-width: 991px) {
        position: relative;
        height: 60vh;
        max-height: 400px;
      }
    }
    .content {
      right: 0;
      margin-left: 50%;
      @media only screen and (max-width: 991px) {
        margin-left:0;
        position: relative;
        left: 0;
        padding: 6%;
      }
    }
  }
  .image {
    position: absolute;
    height: 100%;
    overflow: hidden;
    .bg-image {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }
  .content {
    position: relative;
    padding: 6%;
    background-color: #fff;
    color: $gray-base;
    .btn {
      color: #fff;
      background-color: $c-t;
      margin: 0 10px;
      margin-top: 30px;
    }
  }
}

.clients-row {
  .client {
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    &.border-bottom {
      &:before {
        content: '';
        position: absolute;
        left: 7%;
        right: 7%;
        bottom: 0;
        height: 1px;
        background: #ddd;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    &.border-right {
      &:after {
        content: '';
        position: absolute;
        top: 7%;
        bottom: 7%;
        right: 0;
        width: 1px;
        background: #ddd;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    img {
      opacity: 0.5;
      @include ease-transition(.5s, 0s);
      width: 30%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 30%;
      right: 0;
    }
    &:hover {
      img {
        opacity: 1
      }
    }
    p {
      text-align: center;
      font-size: 16px;
      color: $gray-l-1;
      padding-top: 40px;
    }
  }
}

/* hire page style */
.toggle-view-custom {
  margin:0;
  padding:0;
  list-style:none;
  li {
    cursor:pointer;
    &:first-child {
      margin-top:0px;
    }
  }
  .panel {
    display:none;
    background:none;
    border:none;
    border-radius:0;
    border-right: 15px solid #eee;
    margin:0;
    margin-left: 49px;
    padding: 15px;
    padding-right: 17px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.toggle-no-bg.toggle-view-custom .panel {
  border-left: 5px solid #dfdfdf;
  border-right: none;
  display: none;
  margin-left: 23px;
  padding: 15px 0 15px 36px;
}
.toggle-no-bg  .ui-accordion-header{
  background: none;
}
.toggle-view-custom .panel p {
  margin-top:0;
}
.panel p:last-child {
  margin-bottom:0px;
}

h3.ui-accordion-header {
  margin:0;
  cursor:pointer;
  &:first-child {
    margin:0;
  }
}

.ui-accordion-header {
  font-size:14px;
  line-height:50px;
  margin:0;
  background-color:#eee;
  span{
    position:relative;
    background-color: #7c8187;
    display: block;
    float: left;
    height: 50px;
    width: 49px;
    margin-right: 15px;
    transition: all .3s ease 0s;
    &:before{
      display:block;
      content:'+';
      position:absolute;
      left:19px;
      font-size:18px;
      font-style:normal;
      color:#fff;
    }
  }
  &:hover span{
    background-color: $c-t;
    transition: all .3s ease 0s;
    &:before{
      color:$gray-l-4;
    }
  }
}
.ui-accordion-header-active span {
  background-color: $c-t;
}
.ui-accordion-header-active span:before {
  content:'–';
  left:20px;
  color:$gray-l-4;
}
h3.job-head {
  font-size: 24px;
  margin-bottom: 32px;
  i {
    margin-bottom: -12px;
    margin-right: 24px;
  }
}

.hire-info {
    li {
        background: #e9e9e9;
        padding: 16px;
        margin: 24px 0;
        text-align: left;
        span {
          color: $c-p;
          margin-right: 16px;
        }
    }
}
.cv {
    .btn {
        background: $c-t;
        color: #fff;
        margin: 0 10px;
        margin-top: 30px;
    }
    i {
        margin-right: 12px;
    }
}

// us page styles
.number {
  text-align: center;
  h3 {
    font-size: 42px;
    color: $gray-d-1;
  }
  p {
    font-size: 14px;
    color: $gray-l-1;
    margin-top: 0;
  }
}

.vision {
  background-image: url('../images/us-vision.png');
  background-color: lighten($c-s, 10%);
  background-repeat: no-repeat;
  background-position:center;
  position: relative;
  min-height: 400px;
  padding:100px;
  .section-title {
    color: #fff;
    font-size: 52px;
    font-weight: 300;
    @media (max-width: 767px) {
      font-size: 36px;
    }
  }
  .section-subtitle {
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    line-height: 32px;
    color: $gray-l-4;
    width: 55%;
    margin: 20px auto 40px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}
.divider {
  border-top: 1px solid $c-p;
  position: relative;
  margin-bottom: 30px;
  border-bottom:none;
  i {
    background-color: #fff;
    border-radius: 100%;
    display: block;
    height: 120px;
    padding: 0;
    text-align: center;
    width: 120px;
    margin: 0 auto;
    margin-top: -65px;
  }
}
.contact {
  padding: 5%;
  .content {
    img {
      width: 100%;
    }
  }
}

.address {
  margin: 30px 0;
  width: 100%;
  li {
    margin-bottom: 10px;
    font-size: 16px;
    span {
      color: $c-s;
      font-weight: 600;
      font-size: 18px;
      margin-right: 18px;
      display: inline-block;
      width: 100px;
    }
  }
}

/* product page */
// baba
.product-feature {
  margin: 60px 0;
  display: block;
  .icon {
    color: $c-p;
  }
  h5 {
    font-size: 20px;
    color: $gray-base;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    color: $gray-l-1;
  }
}
.list-items {
  margin: 30px 0 60px 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    color: $gray-l-1;
    i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 18px;
      color: $c-p;
    }
    span {
      color: $c-p;
      margin-right: 24px;
    }
    ul {
      display: block;
      margin-left: 18px;
      margin-top: -24px;
    }
  }
}


// product page style
.product-head {
  h3 {
    color: $gray-base !important;
    font-size: 32px;
  }
  h6 {
    color: $gray-l-1;
    font-size: 24px;
    margin-bottom: 15px;
    &::before {
      display:block;
      content:'+';
      position:absolute;
      left:19px;
      font-size:18px;
      font-style:normal;
      color:#fff;
    }
  }
  p {
    font-size: 18px !important;
    color: $gray-l-1 !important;
  }
}
.product-intro {
  h4{
    font-size: 24px;
    font-weight: 500;
  }
  p {
    color: $gray-l-1;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  .btn {
    background-color: $c-t;
    color: #fff;
    margin: 0 10px;
    margin-top: 30px;
  }
}
