.bgc-l-g {
  background-color: #f9f9f9;
}
.bgc-p {
  background-color: $c-p;
}
.bgc-l-d {
  background-color: $gray-d-1;
}

.text-gray {
  color: #333 !important;
}
.text-white {
  color: $gray-l-4 !important;
}

.md-text-left {
    text-align: left;
    @media (max-width: 991px) {
        text-align: center;
    }
}

.md-text-right {
    text-align: right;
    @media (max-width: 991px) {
        text-align: center;
    }
}
p.lead {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.img-intro {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  @media (max-width: 991px) {
    width: 40%;
  }
}

// navbar
// .ownmenu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   li {
//     display: inline-block;
//     float: left;
//   }
//   a {
//     @include transition(.3s, linear);
//     outline: none;
//     z-index: 10;
//   }
//   ul {
//     &.dropdown {
//       li {
//         clear: both;
//         width: 100%;
//         text-align: left;
//         a {
//           width: 100%;
//           padding: 12px 24px 12px;
//           display: inline-block;
//           float: left;
//           clear: both;
//           text-decoration: none;
//           color: #999;
//           @include box-sizing(border-box);
//         }
//         &:hover {
//           > a {
//             color: #fff !important;
//           }
//         }
//       }
//     }
//   }
// }
.linkage {
  padding: 6px 0;
}
