.home-head {
	background: url('../images/bg-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 600px;
}
.us-head {
	background: url('../images/us-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.microbiome-head {
	background: url('../images/microbiome-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.pathogen-head {
	background: url('../images/pathogen-head.jpg') no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: 400px;
}
.hire-head {
	background: url('../images/hire-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.partner-head {
	background: url('../images/partner-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}
.baba-head {
	background: url('../images/baba-head.jpg') no-repeat;
	background-size: cover;
	background-position: top;
	min-height: 480px;
}
.baby-head {
	background: url('../images/baby-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 480px;
}
.obesity-head {
	background: url('../images/obesity-head.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 480px;
}
