$c-p: #26A05f;
$c-s: #286B90;
$c-t: #82CD31;
$c-f: #E25D36;

$gray-base: #333;
$gray-d-1: darken($gray-base, 16%);
$gray-d-2: darken($gray-base, 33%);
$gray-d-3: darken($gray-base, 50%);
$gray-d-4: darken($gray-base, 73%);


$gray-l-1: lighten($gray-base, 16%);
$gray-l-2: lighten($gray-base, 33%);
$gray-l-3: lighten($gray-base, 50%);
$gray-l-4: lighten($gray-base, 73%);
